<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to='/form'>Form</router-link></b-nav-item>
      <b-nav-item><router-link to='/Showview'>ShowView</router-link></b-nav-item>
      <b-nav-item><router-link to='/users'>users</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
