<template>
  <div>
    <b-table striped hover :items="userList" :fields="fields"></b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      userList: [
        {
          id: 1,
          name: 'chonphisit',
          gender: 'M'
        },
        {
          id: 2,
          name: 'burapha',
          gender: 'M'
        }
      ],
      lastId: 3,
      fields: ['id', 'name', 'gender', 'operation']
    }
  }
}
</script>
